<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.otus.mybatis">

    <insert id = "insert" parameterType = "ru.otus.user.UsersDataSet">
        insert into users (name) values (#{name});
    </insert>

    <select id="select" resultType="ru.otus.user.UsersDataSet">
        select * from users where name = #{name} limit 1
    </select>

</mapper>