<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="hibernate.connection.url">jdbc:mysql://localhost/db_example</property>
        <property name="hibernate.connection.username">tully</property>
        <property name="hibernate.connection.password">tully</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.connection.useSSL">false</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <mapping file="/config/UserDataSet.hbm.xml"/>

    </session-factory>
</hibernate-configuration>